
.container {
    border-radius: 8px;
    overflow: hidden;
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
}

.cover-image img {
    filter: brightness(0.5);
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.header-campanha {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-campanha h1 {
    font-size: 2em;
    color: #21897E;
    font-weight: bold;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.badge {
    background: #007AFE;
    color: #fff;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.main-content {
    display: flex;
    gap: 20px;
}

.info-section {
    flex: 2;
}

.info-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.info-section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.donation-section {
    margin-top: 20px;
}

.donation-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.donation-section h4 {
    font-size: 22px;
    color: #007AFE;
    margin: 5px 0;
}

.donate-button {
    background: #007AFE;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.image-section {
    flex: 1;
}

.image-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.image-placeholder {
    background: none; /* Remove o fundo cinza */
    border-radius: 5px;
    overflow: hidden; /* Garante que imagens se ajustem ao contêiner */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.image-placeholder img {
    width: 100%; /* Largura ajustada automaticamente */
    height: 300px; /* Define uma altura fixa */
    object-fit: cover; /* Garante que a imagem se ajuste ao contêiner sem distorções */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
}


.share-button {
    background: #007aff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
}
@media (max-width: 550px){
    .main-content{
        flex-direction: column;
    }
}
.botao-doar {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}