body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.fundo {
    margin-top: 3vw;
    width: 40vw;
    background: #89C6FF;
    border-top-left-radius: 2.8vw;
    border-top-right-radius: 2.8vw;
    padding: 3.8vw;
    padding-bottom: 1vw;
    box-sizing: border-box;
}
.fundo2{
    width: 40vw;
    height: 3.4vw;
    background-color: #3988C2;
    border-bottom-left-radius: 2.8vw;
    border-bottom-right-radius: 2.8vw;
}

h1 {
    text-align: center;
    border-bottom: black solid 3px;
}

form {
    padding: 1vw;
}


input[type="text"], input[type="password"], input[type="submit"],input[type="tel"]  {
    width: 100%;
    height: 3vw;
    box-sizing: border-box; 
    border: #ffffff;
    border-radius: 0.78vw;
    margin-bottom: 1vw;
}

input[type="submit"] {
    margin-top: 1vw;
    margin-bottom: 0;
    background-color: #3988C2;
    color: #ffffff;
    font-size: 2vw;
}

p{
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;
}

a{
    font-size: 1.2em;
    color: black;
}
