/* div categorias geral */
.catdiv {
    position: relative;
    padding: 40px 0;
    color: #000000;
    text-align: center;
}

/* título | "CAMPANHAS" */
.campanhastex {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: #21897E;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.campanhastex::before, .campanhastex::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 480px;
    height: 5px;
    background-color: #26C6B5;
    border-radius: 10px;
}

.campanhastex::before {
    left: -500px;
}

.campanhastex::after {
    right: -500px;
}

/* botões de categoria */
.category-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 20px;
}

/* css/body.css */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3988C2;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
}

.pagination-button.active {
    background-color: #000920;
}

/* css/body.css */
.search-bar {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #89C6FF;
    background-color: #89C6FF;
    color: #23283D;
    font-weight: 800;
    border-radius: 45px;
}

.category-buttons img {
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: filter 0.3s;
}

.category-buttons img.selected {
    filter: brightness(0.5);
}

.category-buttons img:hover {
    filter: brightness(0.8);
}

/* grid de campanhas */
.campaigns-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: #ffffff80;
    border-radius: 40px;
}

.campaign {
    text-align: center;
}

.campaign img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
}

.campaign h3, .campaign p.author {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.campaign p.description {
    text-align: justify;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
    width: 80%;
}

/* botão 'explorar' */
.explore-more {
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    width: 30%;
    margin: 20px auto;
    text-align: center;
    color: white;
    background-color: #21897E;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.explore-more:hover {
    color: white;
    background-color: #043b36;
}

.explore-more h3 {
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
}


.highlighted-campaigns {
    display: flex;
    justify-content: space-around;
    margin: -20px 0;
}

.highlighted-item {
    position: relative;
    width: 370px;
    height: 250px;
    overflow: hidden;
}

.highlighted-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.highlighted-item:hover img {
    transform: scale(1.1);
}

.overlaycampanhas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 10px;
}

.highlighted-item:hover .overlaycampanhas {
    opacity: 1;
}

.explorarcampanhastxt {
    align-self: center;
    display: flex;
    justify-content: center;
    color: #3988C2;
    font-size: 45px;
    margin-top: 30px;;
    margin-bottom: 50px;
    margin-bottom: 30px;
}

/* Título acima dos botões */
.category-title {
    font-size: 1.5em;
    font-weight: 600;
    color: #21897E;
    margin-bottom: 20px;
}

/* Estilo dos itens de categoria */
.category-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.category-item {
    text-align: center;
}

.category-item img {
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: filter 0.3s;
}

.category-item img:hover {
    filter: brightness(0.8);
}

.category-item p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #004e46;
}

/* Slider para mobile */
@media (max-width: 768px) {

    .category-buttons {
        gap: 10px; 
        margin-bottom: 10px;
    }

    .category-buttons img {
        width: 40px;
    }

    .campanhastex {
        font-size: 20px;
    }

    .campanhastex::before, .campanhastex::after {
        width: 150px;
    }

    /* Slider horizontal */
    .campaigns-grid {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 15px;
        padding-bottom: 20px;
        scroll-behavior: smooth;
        flex-direction: column;
    }

    .campaign {
        flex: 0 0 100%;
        max-width: 100%;
        scroll-snap-align: center;
    }

    .campaign img {
        width: 60%;
    }

    .campaign h3 {
        font-size: 16px;
    }

    .campaign p.author {
        font-size: 14px;
    }

    .campaign p.description {
        font-size: 12px;
        width: 90%;
    }

    .campanhastex::before, .campanhastex::after {
        display: none;
    }

    .explore-more {
        font-weight: 600;
        font-family: "Work Sans", sans-serif;
        width: 60%;
        margin: 0px auto;
        text-align: center;
        color: white;
        background-color: #21897E;
        padding: 20px;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .highlighted-campaigns {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        padding-bottom: 20px;
        scroll-behavior: smooth;
        margin: 10px 0;
        margin-bottom: -100px;
        -webkit-overflow-scrolling: touch;
    }
        
        .highlighted-campaigns::-webkit-scrollbar {
        display: none;

    }

    .highlighted-item {
        flex: 0 0 80%;
        max-width: 80%;
        scroll-snap-align: center;
    }

    .highlighted-item img {
        width: 100%;
        height: auto;
    }

    /* Remover o efeito de escala no mobile */
    .highlighted-item:hover img {
        transform: none;
    }
    .explorarcampanhastxt {
        align-self: center;
        display: flex;
        justify-content: center;
        color: #3988C2;
        font-size: 35px;
        margin-bottom: 30px;
    }
    .highlighted-item:hover img {
        transform: none; /* Remove o efeito de zoom no mobile */
    }

    .overlaycampanhas {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.8);
        transition: none;
        height: 73%;
        border-radius: 30px;
    }

    .category-item p {
        margin-top: 5px;
        font-size: 10px;
        font-weight: 700;
        color: #004e46;
    }
}
