/* carousel */
.carousel-container {
    position: relative;
    width: 100%;
    height: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* imagens do carousel */
.carousel-img {
    position: absolute;
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0.8;
    width: 900px;
    height: 500px;
    border-radius: 15px;
    object-fit: cover;
}

/* imagem central */
.carousel-img.center {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 3;
}

/* imagens à esquerda e à direita do centro */
.carousel-img.left {
    transform: translateX(-20%) scale(0.8);
    z-index: 2;
}

.carousel-img.right {
    transform: translateX(20%) scale(0.8);
    z-index: 2;
}

/* barra de progresso no carousel (desisti da ideia, deixe assim mesmo por enquanto) */
.progress-bar {
display: none;
}

.progress {
    display: none;
}
