     /* Div principal */
     .main-container {
         text-align: center;
         width: 100%;
         height: 600px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/index.jpg);
         background-size: cover;
         background-position: center;
         position: relative;
         overflow: hidden;
     }

     /* Fundo com fade-in/out */
     .background-image {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-size: cover;
         background-position: center;
         transition: opacity 0.5s ease;
         opacity: 0;
         z-index: 1;
     }

     .background-image.active {
         opacity: 1;
     }

     /* Conteúdo dentro da div */
     .content {
         position: relative;
         max-width: 600px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         z-index: 2;
     }


     .content h1 {
         color: rgb(233, 233, 233);
         font-size: 2rem;
         text-shadow:
             0 0 5px black,
             /* Contorno borrado */
             0 0 10px black,
             0 0 15px black;
         margin-bottom: 20px;
     }

     .content p {
         color: rgb(233, 233, 233);
         margin-bottom: 15px;
         border-radius: 10px;
         padding: 7px;
         background-color: rgba(0, 0, 0, 0.322);
     }

     /* Container de botões */
     .button-container {
         display: flex;
         gap: 20px;
         position: relative;
     }

     /* Botões com cores diferentes */
     .button {
         padding: 15px 30px;
         font-size: 1rem;
         font-weight: bold;
         color: rgb(235, 231, 231);
         border: none;
         border-radius: 5px;
         cursor: pointer;
         transition: transform 0.3s ease, background-color 0.3s ease;
     }


     .button:hover {
         transform: scale(1.05);
     }

     .button#donate {
         background-color: #3988C2;
         box-shadow: 0 0px 12px #3988C2;
     }

     .button#campaign {
         background-color: rgb(32, 133, 123);
         box-shadow: 0 0px 12px #21897E;
     }

     /* Texto dinâmico */
     .dynamic-text {
         font-size: 0.9rem;
         color: #21897E;
         margin-top: 10px;
         visibility: hidden;
         /* Invisível por padrão */
         opacity: 0;
         transition: visibility 0s, opacity 0.3s ease;
         font-weight: 700;
     }

     .dynamic-text.visible {
         visibility: visible;
         opacity: 1;
     }

     @media (max-width: 768px) {

         .content h1 {
             color: white;
             font-size: 20px;
             margin-bottom: 20px;
         }

         .button {
             padding: 15px 30px;
             font-size: 13px;
         }

     }

     /* Estilo do fundo do modal */
     .modal-overlay {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.5);
         display: none;
         /* Oculto por padrão */
         justify-content: center;
         align-items: center;
         z-index: 1000;
     }

     /* Estilo da caixa do modal */
     .modal-content {
         background: white;
         padding: 20px;
         border-radius: 8px;
         display: flex;
         flex-direction: column;
         width: 300px;
         text-align: center;
         box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
     }

     .modal-content h3 {
         margin: 0 0 10px 0;
     }

     /* Botão de fechar */
     .modal-close {
         margin-top: 15px;
         padding: 10px 20px;
         background: #007bff;
         color: white;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         transition: background 0.3s;
     }

     .modal-close:hover {
         background: #0056b3;
     }