/* header */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 200;
}
/* logo */
.logo img {
    width: 160px;
    height: auto;
}

/* botões */
nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 300;
    transition: font-weight 0.3s;
}

nav a:hover {
    font-weight: 500;
}

.btn-entrar {
    color: #3988C2;
    border: 2px solid #3988C2;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.btn-entrar:hover {
    background-color: #3988C2;
    color: white;
}
.sumir{
    display: none;
}
.btn-perfil{
    color: white;
    background-color: #3988C2;
    border: 2px solid #3988C2;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}
.btn-perfil:hover{
    color: white;
    cursor: pointer;
    background-color: #0c324e;
    border: 2px solid #0c324e;
    transition: background-color 0.3s, color 0.3s;
}
.btn-cadastrar {
    color: white;
    background-color: #21897E;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-cadastrar:hover {
    background-color: #043b36;
}

nav a:last-child {
    margin-right: 0;
}

/* menu hambúrguer */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* overlay para escurecer o fundo */
.overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

/* Botão "Contato" especial */
#contatoButton {
    color: #0083b0;
    width: 37px;
    height: 37px;
    padding: 0.5px 2.595px;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    border-radius: 50%;
    border: solid 2px #0083b0;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

/* Efeito de Hover */
#contatoButton:hover {
    background-color: #0083b0;
    color: white;
    transform: scale(1.05); /* Leve aumento no tamanho */
}

/* Janela de contato */
.modal.hidden {
    display: none;
}

.modal {
    animation: fadeIn 0.5s ease forwards;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.modal-content {
    background-color: white;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-left, .modal-right {
    flex: 1;
    margin: 10px;
}
/* Estilo das Informações da Empresa */
.modal-right {
    display: flex;
    flex-direction: column;
    gap: 10px; /* espaçamento entre as informações */
    margin: 10px;
}

.modal-right p span {
    font-weight: bold; /* maior destaque para os títulos das informações */
}

.modal-left h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

/* Campo de input e textarea */
.modal-left input[type="text"],
.modal-left input[type="email"],
.modal-left textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-left button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3988C2;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-left button[type="submit"]:hover {
    background-color: #0c324e;
}

/* Captcha placeholder styling */
.captcha {
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
    color: #888;
}


.mobile-only {
    display: none;
}
/* mobile */

@media (max-width: 768px) {
    .mobile-only {
        display: block;
    }

    #contatoButton {
        order: 0; /* Faz com que o botão de perfil fique acima dos outros itens */
        /* Adicione estilos adicionais conforme necessário */
    }

    header {
        justify-content: space-between;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }

    nav a {
        margin: 15px 0;
    }

    .hamburger {
        display: block;
    }

    /* menu - ativo */
    nav.active {
        display: flex;
        transform: translateY(0);
    }

    .overlay.active {
        display: block;
    }

    /* impede rolagem */
    body.menu-open {
        overflow: hidden;
    }

    .modal-content {
        flex-wrap: wrap;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
    top: 50px;
    right: 20px;
    z-index: 100;
}

.dropdown-menu a,
.dropdown-menu button {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.dropdown-menu button:hover,
.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

