/* container mapa */
.mdiv {
    position: relative;
    padding: 40px 0;
    color: #000000;
    text-align: center;
}

/* mapa geral */
.mapa {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: #21897E;
    margin-bottom: 0px;
    position: relative;
    display: inline-block;
}

.mapa::before, .mapa::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 340px;
    height: 5px;
    background-color: #26C6B5;
    border-radius: 10px;
}

.mapa::before {
    left: -360px;
}

.mapa::after {
    right: -360px;
}

.map-container {
    position: relative;
    width: 410px;
}

.map-container img {
    width: 410px;
    height: auto;
}

/* pontos mapa */
.map-point {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #26C6B5;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
    transition: background-color 0.3s ease;
}

.map-point:hover {
    transform: scale(1.3);
    background-color: #007065;
}

.map-point .tooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    color: #21897E;
    white-space: nowrap;
}

.map-point:hover .tooltip {
    display: block;
}

/* adicionar mais pontos no mapa */
.point-rr { top: 10%; left: 33%; }
.point-ap { top: 10%; left: 55%; }
.point-pa { top: 25%; left: 52%; }
.point-am { top: 25%; left: 25%; }
.point-ms { top: 61%; left: 48%; }
.point-mt { top: 45%; left: 46%; }

.tooltip {
    transform: translate(-50%, -120%);
}

.text-container {
    position: absolute;
    right: -40px;
    top: 110px;
    text-align: right;
}

.text-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    color: #21897E;
    font-weight: 900;
    margin-bottom: -20px;
}

.text-value {
    font-family: 'Monoton', sans-serif;
    font-size: 70px;
    color: #21897E;
    margin-bottom: 0;
}

/* mobile */
@media (max-width: 768px) {

    .text-container {
        position: relative;
        right: 0;
        top: 0;
        text-align: center;
    }

    .text-title {
        font-size: 20px;
        margin-bottom: -10px;
    }

    .text-value {
        font-size: 50px;
    }

    .map-container {
        position: absolute;
        top: -30px;
        left: 10px;
        width: 200px;
    }

    .map-container img {
        display: none;
    }

    /* Remover pontos do mapa no mobile */
    .map-point {
        display: none;
    }

    .mapa::before, .mapa::after {
        display: none;
    }
}
