body {
    background-image: url(../img/background_central.jpg);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #ff6600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.button {
    padding: 8px 16px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.contato {
    background-color: #007bff;
}

.teste {
    background-color: #ff6600;
}

/* Main container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: url('img/background-profile.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

/* Main container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Profile section */
.profile-section {
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 80%;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
    border: 4px solid #fff;
}

.username {
    font-size: 28px;
    margin: 0;
    color: #333;
}

.username-description {
    font-size: 16px;
    color: #666;
}

/* Estilo para o menu de edição (pop-up) */
.edit-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0px 12px #21897e;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    z-index: 999;
}

.edit-menu.visible {
    display: flex;
}

.edit-button {
    padding: 10px 20px;
    background-color: #3988C2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.create-campaign-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3988C2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #003369;
}
.create-campaign-btn:hover {
    background-color: #003369;
}

.edit-menu button:nth-child(4) {
    background-color: #3988C2;
    color: #fff;
    margin-top: 10px;
}

.edit-menu button:nth-child(5) {
    background-color: #ccc;
}

.sections {
    display: flex;
    gap: 20px;
    width: 80%;
    margin-top: auto;
}

.section {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0px 12px #21897e;
}
/* Estilo geral da tabela */
.campaign-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: #f9f9f9;
}

/* Cabeçalho da tabela */
.campaign-table thead th {
    background-color: #3988C2;
    color: whitesmoke;
    padding: 6px;
    text-transform: uppercase;
}

/* Linhas da tabela */
.campaign-table tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

/* Alteração de cor ao passar o mouse */
.campaign-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Células da tabela */
.campaign-table td, 
.campaign-table th {
    padding: 6px;
}


/* Alinhamento das células */
.campaign-table td {
    vertical-align: middle;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .sections{
        flex-direction: column;
    }
}

.td-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
td img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
.td-options{
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.sumir{
    display: none;
}
.td-options img{
    margin: 0;
    width: 20px;
    height: auto;
}
.td-options img:hover{
    width: 22px;
}
.favoritar{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favoritar img{
    margin: 0;
    width: 22px;
    height: auto;
}
.favoritar img:hover{
    width: 24px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px -2px 4px #21897f71;
}

.edit-menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px -2px 4px #21897f71;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.edit-menu.visible {
    display: flex;
}

.edit-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-menu-header h2 {
    margin: 0;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.overlay.visible {
    display: block;
}

.profile-pic,
#profile-photo {
    width: 150px;
    height: 150px;
    /* Altura fixa para evitar mudanças */
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-section h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.profile-section p {
    font-size: 14px;
    color: #666;
}

/* Content section */
.content-section {
    display: flex;
    gap: 20px;
    width: 80%;
}

.content-column {
    flex: 1;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px -2px 4px #21897f71;
}

.content-column-company {
    flex: 1;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px -2px 4px #21897f71;
    display: none;
}

.content-column h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.content-column-company h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.donation-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    text-align: center;
}

.donation-card img {
    width: 50%;
    height: auto;
}

.donation-card h3 {
    font-size: 16px;
    color: #333;
    margin: 10px 0 5px;
}

.donation-card p {
    font-size: 14px;
    color: #666;
    padding: 0 10px 10px;
}

.sections {
    display: flex;
    gap: 20px;
}

.section {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 400px;
}

.section h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.campaign-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.campaign-item {
    width: calc(50% - 7.5px);
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campaign-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.campaign-item h4 {
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}

.campaign-item p {
    font-size: 14px;
    color: #666;
    text-align: center;
}