<div class="fundoFooter">
    <footer>
        <div class="footer_1">
            <img src="img/logo_footer.svg" alt="">
            <p>Etiam nec elit nec sem ultricies rhoncus non ac justo. Fusce ornare, nulla at sodales tristique, lectus ex porta turpis, ac blandit nisi arcu in tellus.</p>
        </div>
        <div class="footer_2">
            <p>Etiam nec elit nec sem ultricies rhoncus non ac justo. Fusce ornare, nulla at sodales tristique, lectus ex porta turpis, ac blandi</p>
            <img src="img/social_media.svg" alt="">
        </div>
    </footer>
</div>