<div class="campanhas">
    <a href="">
        <div class="campanha">
            <p class="titulo">CAMPANHA</p>
            <img src="./img/placeholder.svg" alt="" class="img_campanha">
            <img src="" alt="" class="botao_compartilhar">
            <p class="autor">AUTOR</p>
            <p class="descricao">Nunc iaculis feugiat felis, faucibus venenatis ipsum scelerisque et. Donec dictum congue finibus. Aliquam consequat, diam et egestas sagittis, ante lectus vestibulum lacus, ut blandit neque dolor a magna.</p>
        </div>
    </a>
    <a href="">
        <div class="campanha">
            <p class="titulo">CAMPANHA</p>
            <img src="./img/placeholder.svg" alt="" class="img_campanha">
            <img src="" alt="" class="botao_compartilhar">
            <p class="autor">AUTOR</p>
            <p class="descricao">Nunc iaculis feugiat felis, faucibus venenatis ipsum scelerisque et. Donec dictum congue finibus. Aliquam consequat, diam et egestas sagittis, ante lectus vestibulum lacus, ut blandit neque dolor a magna.</p>
        </div>
    </a>
    <a href="">
        <div class="campanha">
            <p class="titulo">CAMPANHA</p>
            <img src="./img/placeholder.svg" alt="" class="img_campanha">
            <img src="" alt="" class="botao_compartilhar">
            <p class="autor">AUTOR</p>
            <p class="descricao">Nunc iaculis feugiat felis, faucibus venenatis ipsum scelerisque et. Donec dictum congue finibus. Aliquam consequat, diam et egestas sagittis, ante lectus vestibulum lacus, ut blandit neque dolor a magna.</p>
        </div>
    </a>
    <a href="">
        <div class="campanha">
            <p class="titulo">CAMPANHA</p>
            <img src="./img/placeholder.svg" alt="" class="img_campanha">
            <img src="" alt="" class="botao_compartilhar">
            <p class="autor">AUTOR</p>
            <p class="descricao">Nunc iaculis feugiat felis, faucibus venenatis ipsum scelerisque et. Donec dictum congue finibus. Aliquam consequat, diam et egestas sagittis, ante lectus vestibulum lacus, ut blandit neque dolor a magna.</p>
        </div>
    </a>
    <a href="">
        <div class="campanha">
            <p class="titulo">CAMPANHA</p>
            <img src="./img/placeholder.svg" alt="" class="img_campanha">
            <img src="" alt="" class="botao_compartilhar">
            <p class="autor">AUTOR</p>
            <p class="descricao">Nunc iaculis feugiat felis, faucibus venenatis ipsum scelerisque et. Donec dictum congue finibus. Aliquam consequat, diam et egestas sagittis, ante lectus vestibulum lacus, ut blandit neque dolor a magna.</p>
        </div>
    </a>
    <a href="">
        <div class="campanha">
            <p class="titulo">CAMPANHA</p>
            <img src="./img/placeholder.svg" alt="" class="img_campanha">
            <img src="" alt="" class="botao_compartilhar">
            <p class="autor">AUTOR</p>
            <p class="descricao">Nunc iaculis feugiat felis, faucibus venenatis ipsum scelerisque et. Donec dictum congue finibus. Aliquam consequat, diam et egestas sagittis, ante lectus vestibulum lacus, ut blandit neque dolor a magna.</p>
        </div>
    </a>
</div>